/* ==========================================
	Variables
========================================== */

// fonts

$mont: 'Montserrat', Arial, Sans-Serif;
$georgia: 'Georgia', Times New Roman, Serif;
$icon: fontawesome;

// colors 
$white: #FFF;
$grey: #999; 
$lt-grey: #CCC;
$black: #111;

$pink: #e4355f;
$blue: #41c4c4;
$teal: #337b91;
$fuscia: #9a1580;
$yellow: #f09a24;
$purple: #574086;