body {
  background-color: #FFF;
  font-size: 16px;
  line-height: 2;
  color: #555;
  font-family: "Georgia", Times New Roman, Serif;
  width: 100%; }


h1, h2, h3, h4, h5 {
  font-family: "Montserrat", Arial, Sans-Serif;
  color: #111;
  text-transform: uppercase; }

h1 {
	font-weight:400;
  	letter-spacing: 5px; }

a {
  color: #41c4c4;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  cursor: pointer; }

  a:hover, a:focus, a:active {
    outline: none; }

  a.button {
    position: relative;
    height: auto;
	padding:10px 40px;
}

a.button.black{
	text-transform:uppercase;
	font-size:70%;
	letter-spacing:2px;
	display:inline-block;
	background:#111;
	color:#FFF !important;
	font-family:"Montserrat", Arial, Sans-Serif;
}

hr {
  width: 100%;
  height: 0;
  margin: 30px auto;
  background: transparent;
  border: none;
  border-bottom: 1px solid #999; }

span.emphasize{
	font-style: italic;
	font-weight:bold;
}


